



@media (max-width: 750px){
    .hello{ 
    flex-direction: column;
width: auto !important;}
    .biotext{
       width: 100% !important;
       color: black;
    }

}
@media (min-width: 1300px){
    .biotext p{
       font-size: 60% !important;
    }

}
